<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin's Portfolio</title>
  </head>
  <body>
  <header>
    <h1> Justin's Web Developer Portfolio</h1>
    <nav id="navbar">
      <ul class="navbar-list">
        <a href="#welcome-section"><li>About Me</li></a>
        <a href="#projects"><li>Past Projects</li></a>
        <a href="#contact-info"><li>Contact</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome-section">
      <h1>My Name is Justin Woodard</h1>
      <h2>Here is a little bit about me.</h2>
        <div class="bio">
          <div class="About-Me">
          <h3>About Me</h3>
            <p>I'm originally from Indiana where I attended Wabash College. At Wabash I majored in chemsitry with a double minor in Asian Studies and economics. I've always enjoyed science and learning, but at Wabash I also became interested in traveling and learning about Asia. This led me to move to Japan in 2019 after graduating. I lived in Japan for five years and had a lot of great experiences. I also became proficient in Japanese, passing the N2 level of the Japanese Langauge Proficiency Test. While in Japan I began teaching myself how to code and have found it to be really interesting. Now I am ready to continue to sharpen my skills and pursue a career in tech.
        </div>
      <div class="coding-experience">
          <h3>Free Code Camp Completed Courses</h3>
            <ul>
              <li>Web Design Certificatoin</li>
              <li>More to come</li>
            </ul>
      </div>
      <div class="noncoding-experience">
          <h3>Past Experience Outside of Coding</h3>
            <ul>
              <li>2019-2021: JET Programme ALT</li>
              <li>2021-2023: Kindergarten Teacher</li>
              <li>2023-2025: English School Manager</li>
            </ul>
      </div>
        <div class="hobbies">
          <h3>Hobbies</h3>
            <ul>
              <li>Tennis</li>
              <li>Weightlifting</li>
              <li>Reading</li>
              <li>Making Fitness YouTube Videos</li>
              <li>Anything Star Wars</li>
            </ul>
          </div>
        </div>
      </section>
    <section id="projects">
      <h2 class="project-title">Past Projects</h2>
      <div class="project-tile">
        <div class="Workout-Preview">
          <a href="https://codepen.io/Justin-Woodard-the-sasster/pen/MYWJxwN" target="_blank"><h3>Workout Survey Form</h3>
          <img class="preview" src="static/Workout Survey Form Screenshot.png" alt="Preview of the workout survey form"></a>
        </div>
        <div class="Tribute-Preview">
          <a target="_blank" href="https://codepen.io/Justin-Woodard-the-sasster/pen/OPJpbgpk"><h3>Tribute Page</h3>
          <img class="preview" src="static/Tribute Page screenshot.png" alt="Arnold Schwarzenegger posing at Gold's Gym"></a>
        </div>
        <div class="Product-Preview">
          <a href="https://codepen.io/Justin-Woodard-the-sasster/pen/QwWpXyV" target="_blank"><h3>Product Landing Page</h3>
          <img class="preview" src="static/Product Landing Page.png" alt="Preview of my product landing page"></a>
          </div>
          <div class="excel-preview">
          <a href="https://codepen.io/Justin-Woodard-the-sasster/pen/MYWmJRY"><h3>Using the IF Function</h3>
          <img class="preview" src="static/Using the if function.png" alt="Preview of a webpage explaining how to use the IF function in excel"></a>
          </div>
        </div>
    </section>
    <footer id="contact-info">
      <h2 class="social-header">Contact Me</h2>
        <div class="social-links">
          <a href="https://www.freecodecamp.org/JWoody613" id="profile-link" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/FreeCodeCamp_logo.svg" alt="FreeCodeCamp logo linking to Justin Woodard's account" height="50px"></a>
          <a href="https://codepen.io/Justin-Woodard-the-sasster" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/CodePen_logo.png" alt="CodePen Logo, links to Justin Woodard's account" height="50px"></a>
          <a href="https://www.linkedin.com/in/justin-woodard/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" alt="Linkedin logo linking to Justin Woodard's account" height="50px" width="50px"></a>
        </div>
    </footer>
  </main>
  </body>
</html>

